beautifulsoup4
certifi
charset-normalizer
darkdetect
idna
pillow
pip
pystray
requests
schedule
six
soupsieve
typing_extensions
urllib3
win11toast
winrt-Windows.Data.Xml.Dom
winrt-Windows.Foundation
winrt-Windows.Foundation.Collections
winrt-Windows.Globalization
winrt-Windows.Graphics.Imaging
winrt-Windows.Media.Core
winrt-Windows.Media.Ocr
winrt-Windows.Media.Playback
winrt-Windows.Media.SpeechSynthesis
winrt-Windows.Storage
winrt-Windows.Storage.Streams
winrt-Windows.UI.Notifications
winrt-runtime
winsdk
